@mixin button-reset() {
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    border: none;
    background: none;
    vertical-align: middle;
    justify-content: center;
    padding: 0;

    &[disabled] {
        pointer-events: none;
    }
}