@import "~susy/sass/susy";
@import "~susy/sass/plugins/svg-grid";

$mobile-container-padding: 20px;

$layouts: (
    desktop: (
        columns: susy-repeat(12),
        gutters: 30px
    )
);

$susy: map-get($layouts, desktop);


@mixin with-layout($key) {
    $layout: map-get($layouts, $key);
    @if $layout {
        $cache: $susy;
        $susy: $layout !global;
        @content;
        $susy: $cache !global;
    } @else {
        @content;
    }
}

@mixin container {
    margin-left: auto;
    margin-right: auto;
}

@mixin container-mobile {
    padding-left: $mobile-container-padding;
    padding-right: $mobile-container-padding;
}

@mixin container-mobile-inside {
    margin-left: - $mobile-container-padding;
    margin-right: - $mobile-container-padding;
}