$breakpoints: (
    xs: 0 767px,
    sm: 768px 1023px,
    md: 1024px 1439px,
    lg: 1440px 1919px,
    xl: 1920px 10000px
);

@function breakpoint($key, $pos: null) {
    $map: map-get($breakpoints, $key);
    @if $pos {
        @return nth($map, $pos);
    } @else {
        @return $map;
    }
}

@mixin to($query) {
    $max: breakpoint($query, 1) - 1px;
    @media screen and (max-width: $max) {
        @content
    }
}

@mixin from($query) {
    $min: breakpoint($query, 2) + 1px;
    @media screen and (min-width: $min) {
        @content
    }
}

@mixin mq($bp) {
    $min: breakpoint($bp, 1);
    $max: breakpoint($bp, 2);
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin lowscreen {
    @media screen and (max-height: 820px) and (min-width: breakpoint(md, 1)) {
        @content;
    }
}

@mixin superlow {
    @media screen and (max-height: 680px) and (min-width: breakpoint(md, 1)) {
        @content
    }
}