$text: (
    caption: (
            font-size: 14px,
            line-height: 1em
    ),
    text: (
            font-size: 20px,
            line-height: 1.25em
    ),
    text-lg: (
            font-size: 18px,
            line-height: 1em
    ),
    paragraph: (
        font-size: 20px,
        line-height: 1.25em,
        margin-bottom: 1em
    ),
    h1: (
            font-size: 40px,
            line-height: 1em
    ),
    h2: (
            font-size: 56px,
            line-height: 1.1em,
            font-weight: bold
    ),
    h3: (
            font-size: 20px,
            line-height: 1em
    ),
    h4: (
            font-size: 18px,
            line-height: 1em
    )
);

@mixin text($key) {
    $params: map-get($text, $key);
    $weight: map-get($params, font-weight);
    $margin-bottom: map-get($params, margin-bottom);
    font-size: map-get($params, font-size);
    line-height: map-get($params, line-height);
    margin: 0;
    @if $weight {
        font-weight: $weight;
    }
    @if $margin-bottom {
        margin-bottom: $margin-bottom;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @content;
}