/**
 * @license
 * MyFonts Webfont Build ID 3868834, 2020-02-19T03:51:07-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Gilroy-Regular by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/regular/
 *
 * Webfont: Gilroy-Bold by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/bold/
 *
 *
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 *
 * © 2020 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
//@import url("//hello.myfonts.net/count/3b08a2");


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/3B08A2_0_0.eot');
    src: url('../fonts/3B08A2_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/3B08A2_0_0.woff2') format('woff2'),
         url('../fonts/3B08A2_0_0.woff') format('woff'),
         url('../fonts/3B08A2_0_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/3B08A2_1_0.eot');
    src: url('../fonts/3B08A2_1_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/3B08A2_1_0.woff2') format('woff2'),
         url('../fonts/3B08A2_1_0.woff') format('woff'),
         url('../fonts/3B08A2_1_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
