@import "~susy/sass/susy";
@import "~susy/sass/plugins/svg-grid";

$susy: (
        columns: susy-repeat(9),
        gutters: 0
);

$container-padding: 26px;
$container-width: 84%;
$container-max-width: 1600px;

//$container-xl: 1600px;
//$container-lg: 1140px;
//$container-md: 856px;
//$container-sm: 640px;

.body {
    position: relative;
}

.content {
    position: relative;
    z-index: 1;
    //mix-blend-mode: color-dodge;
}

.container {
    margin-left: auto;
    margin-right: auto;
    //background: svg-grid();
    width: $container-width;
    max-width: $container-max-width;

    @include to(md) {
        width: auto;
        padding-left: $container-padding;
        padding-right: $container-padding;
    }
}

.hidden-from-xs {
    @include from(xs) {
        display: none !important
    }
}