body {
    -webkit-font-smoothing: antialiased;
    font-family: $font-regular;
    color: $color-content;
}

.list {
    @include list-reset;

    li {
        @include list-item-reset
    }
}

.link {
    @include link-reset
}

.section-title {

}