.alert-cookies {
    background: $color-red;
    color: #fff;
    padding: 10px 0;
    @include to(sm) {
        padding: 14px 0;
    }
}

.alert-cookies__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    @include to(sm) {
        flex-direction: column;
        align-items: flex-start;
        & > * {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.alert-cookies__close {
    @include button-reset;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-left: 0.5em;
    &:hover, &:focus {
        color: $color-content;
    }

    .icon {
        font-size: 16px;
    }
}

.alert-cookies__yes {
    display: inline-flex;
    align-items: center;
    @include to(sm) {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}