.clients-list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //justify-content: space-between;
    //padding-bottom: 120px;
    @include mq(xs) {
        justify-content: center;
        padding-bottom: 0;
    }
}

.clients-list__item {
    @include list-item-reset;
    flex: 0 0 16%;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 20px;
    @include mq(xs) {
        flex: 0 0 50%;
        margin-bottom: 35px;
    }
    @include lowscreen {
        margin-bottom: 0;
    }
}

.clients-list__item-inner {
    display: block;
    transition: 0.5s opacity;
    opacity: 0.4;
    filter: saturate(0%);
    &:hover {
        opacity: 1;
        filter: saturate(100%)
    }
}

.clients-list__item img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;

    @include superlow {
        max-width: 80px;
    }
}