.content-features {
    @include list-reset;
    @include from(xs) {
        display: flex;
    }
}

.content-features__item {
    @include list-item-reset;
    position: relative;
    @include from(xs) {
        flex: 0 0 33.333%;
    }
    @include mq(xs) {
        margin-bottom: 65px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.content-features__item-inner {
    @include from(xs) {
        padding-right: span(1);
    }
}

.content-features__item-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.9em;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.content-features__item-text {
    font-size: 15px;
    line-height: 1.8em;
}

.content-features__item-arrow {
    position: absolute;
    width: 50px;
    right: 100%;
    margin-right: 20px;
    top: 4px;
    transition: 0.5s opacity, 0.5s transform;
    opacity: 0;
    transform: translateX(-20%);

    .content-features__item:hover & {
        opacity: 1;
        transform: translateX(0%);
    }

    @include to(lg) {
        display: none;
    }

}