.footer {
    margin: 0;
    padding: 0;

    @include mq(xs) {
        margin-left: $container-padding;
        margin-right: $container-padding;
    }
    @include from(xs) {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.footer__pre {
    @include from(xs) {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    @include mq(xs) {
        padding: 80px 0;
    }
}


.footer__pre-title {
    position: relative;
    @include from(xs) {
        margin-left: span(5);
        max-width: span(4);
        margin-bottom: 50px;
    }
    @include mq(xs) {
        text-align: center;
    }

    a {
        color: inherit;
        text-decoration: none;
        transition: 0.25s color;
        &:hover {
            color: $color-red
        }
    }
}

.footer__pre-arrow {
    position: absolute;
    right: 100%;
    top: 20px;
    margin-right: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='71' height='27' viewBox='0 0 71 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57 1.20117C59.6785 6.00543 63.5879 10.0102 68.3264 12.804L69 13.2012L68.163 13.7011C63.5282 16.4708 59.6979 20.4034 57.0514 25.1095L57 25.2012' stroke='%23E32636' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M69 13.2011H0' stroke='%23E32636' stroke-width='4' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    font-size: 70px;
    width: 1em;
    height: 0.36em;
    @include mq(xs) {
        display: none;
    }
}

.footer__inner {
    background: #E4E4E4;
    display: flex;
    height: 100%;

    @include from(xs) {
        padding: 25px 0 90px;
        height: auto;
        flex: 0 0 auto;
    }
    @include mq(xs) {
        padding: 17px 15px;
        flex-direction: column;
    }
}

.footer__main {
    @include from(xs) {
        width: span(2);
        padding-left: 20px;
    }
}

.footer__logo {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    img {
        display: block;
        width: 155px;
        @include mq(xs) {
            width: 80px;
        }
    }
}

.footer__slogan {
    width: 160px;
    margin-bottom: 15px;
    line-height: 25px;
    @include mq(xs) {
        font-size: 14px;
        line-height: 1.25em;
    }
}

.footer__socials {
    .icon {
        font-size: 20px;
    }
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            color: $color-red
        }
    }

    @include mq(xs) {
        display: none;
    }

    &.mobile {
        display: none;
        @include mq(xs) {
            margin-top: 25px;
            display: block;
        }
    }
}

.footer__contacts {
    @include list-reset;
    margin-top: 15px;
    @include from(xs) {
        margin-left: span(3);
    }
}

.footer__contacts-item {
    @include list-item-reset;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.footer__contacts-item-link {
    display: inline-flex;
    align-items: center;
}

.footer__contacts-item-icon {
    font-size: 30px;
    display: block;
    margin-right: 16px;

    .footer__contacts-item.gmail .footer__contacts-item-link:hover & {
        color: $color-red;
    }
    .footer__contacts-item.whatsapp .footer__contacts-item-link:hover & {
        color: #128c7e;
    }
    .footer__contacts-item.telegram .footer__contacts-item-link:hover & {
        color: #30a8dc;
    }
}

.footer__contacts-item-name {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer__contacts-item-email {
    margin-left: 90px;
    &:hover {
        color: $color-red;
    }

    @include mq(xs) {
        margin-left: 50px;
    }
}