.how-list-title-wrapper {
    position: relative;
}

.how-list {
    @include list-reset;
}

.how-list__item {
    @include list-item-reset;
    position: relative;
    //padding-top: $panel-height;
    //margin-bottom: 280px;
    @include from(xs) {
        //min-height: 100vh;
        //display: flex;
        //flex-direction: column;
        //justify-content: center;
        padding-top: $panel-height;
        &:first-child {
            padding-top: 120px;
        }
    }

    &.item-1 {
        @include lowscreen {
            justify-content: flex-end;
            padding-bottom: 50px;
        }
    }

    @include mq(xs) {
        margin-bottom: 60px;
    }
    //&:last-child {
    //    margin-bottom: 0;
    //}
}

.how-list__item-wrapper {
    position: relative;
}

.how-list__item-container {
    position: relative;
}

.how-list__item-number {
    font-weight: bold;
    line-height: 1.8em;
    @include from(xs) {
        left: span(3);
        position: absolute;
        top: 20px;
        font-size: 11px;
    }
    @include mq(md) {
        left: span(3)
    }

    @include mq(sm) {
        left: span(1)
    }
    @include mq(xs) {
        font-size: 20px;
        line-height: 1em;
        margin-bottom: 15px;
    }
    @include from(lg) {
        left: span(4)
    }
}

.how-list__item-inner {
    @include from(xs) {
        margin-left: span(5.5);
        width: 280px;
    }
    @include mq(sm) {
        margin-left: span(3);
        width: span(4);
    }
}

.how-list__item-title {
    font-size: 32px;
    line-height: 1.25em;
    font-weight: bold;
    margin-bottom: 40px;
    @include mq(xs) {
        font-size: 24px;
        line-height: 1.25em;
        margin-bottom: 35px;
    }
}

.how-list__projects {
    @include list-reset;
}

.how-list__projects-item {
    @include list-item-reset;
    margin-bottom: 60px;
    &:last-child {
        margin-bottom: 0;
    }
}

.how-list__projects-item-text {
    font-size: 15px;
    line-height: 1.85em;
    margin-bottom: 15px;

    .link {
        text-decoration: underline;
    }
    a {
        &:hover {
            color: $color-red
        }
    }
}

.how-list__projects-item-link {
    display: flex;
    align-items: center;
    color: $color-gray-light;
    font-weight: 900;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        color: $color-red;
    }
}

.how-list__projects-item-link-text {

}

.how-list__projects-item-link-arrow {
    width: 75px;
    margin-left: 15px;
    transition: 0.25s ease opacity, 0.25s ease transform;
    opacity: 0;
    transform: translateX(10%);

    .how-list__projects-item-link:hover & {
        opacity: 1;
        transform: translateX(0);
    }
}