.intro {
    position: relative;
    //height: 100vh;
    //min-height: 640px;
    overflow: hidden;
    @include mq(xs) {
        height: 100vh
    }
}

.intro__socials {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: calc(#{$container-width} / 2);

    @include to(md) {
        left: auto;
        right: $container-padding;
    }
    @include to(sm) {
        display: none;
    }

    a {
        text-decoration: none;
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        font-weight: bold;
        font-size: 14px;
        color: $color-gray;
        &:hover {
            color: $color-red;
        }
    }
}

.intro__socials-content {
    position: absolute;
    text-align: center;
    width: 100vh;
    padding-left: 50px;
    transform-origin: 0 0;
    transform: translateY(0) rotate(90deg);
}

.intro__inner {
    @include from(xs) {
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
    }
    @include mq(xs) {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding-bottom: 70px;
    }
}

.intro__inner .container {
    @include mq(xs) {
        width: 100%;
    }
}

.intro__title {
    font-weight: bold;
    font-size: 84px;
    line-height: 1em;
    margin-bottom: 30px;

    @include mq(xs) {
        font-size: 45px;
        line-height: 1.2em;
        margin-bottom: 15px;
    }
}

.intro__description {
    font-size: 18px;
    line-height: 1.7em;
    max-width: 460px;
    margin-bottom: 150px;
    @include mq(xs) {
        font-size: 18px;
        margin-bottom: 110px;
    }
}

.intro__arrow {
    transform-origin: 100% 100%;
    display: inline-block;
    transform: translateX(-100%) rotate(90deg);

    @include from(xs) {
        position: absolute;
        bottom: 0;
    }

    img {
        display: inline-block;
        vertical-align: top;
        transform: translateY(0%);
        transition: 0.5s transform;
    }
    &:hover {
        img {
            transform: translateX(5%);
        }
    }
}