.lines {
    position: absolute;
    left: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: rgba(#000, 0.04);
    width: $container-width;
    max-width: $container-max-width;
    transform: translateX(-50%);

    @include to(md) {
        width: auto;
        left: $container-padding;
        right: $container-padding;
        transform: none;
        margin-left: 0;
    }

    & > * {
        display: block;
        border-left: 1px solid;
        border-color: inherit;
    }
}