body.noscroll {
    overflow: hidden;
}

.mobile-menu {
    display: none;
    transition: 0.5s opacity, 0.5s visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99;
    overflow: auto;

    &.open {
        transition: 0.5s opacity, 0.5s visibility 0s;
        opacity: 1;
        visibility: visible;
    }

    @include mq(xs) {
        display: block;
    }
}

.mobile-menu__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;

    &:before {
        content: '';
        display: block;
    }
}

.mobile-menu__nav {
    @include list-reset;
    a {
        text-decoration: none;
        color: inherit;
        font-size: 28px;
        font-weight: bold;
        padding: 10px 0;
        display: inline-block;
    }
}

.mobile-menu__nav-item {
    @include list-item-reset
}

.mobile-menu__socials {
    @include list-reset;
    a {
        text-decoration: none;
        display: inline-block;
        color: $color-gray;
        font-size: 14px;
        padding: 15px 0;
        &:last-child {
            padding-bottom: 0;
        }
    }
}

.mobile-menu__socials-item {
    @include list-item-reset
}

.mobile-menu__email {
    position: absolute;
    right: $container-padding;
    bottom: 30px;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    img {
        width: 33px;
        margin-right: 10px;
    }
}