$panel-height: 80px;

.panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    @media (hover: none) {
        transition: 0.25s transform;
        transform: translateY(0);
        &.hidden {
            transform: translateY(-100%)
        }
    }

    body.noscroll & {
        transform: none
    }

    &:before {
        content: '';
        display: none;
        position: absolute;
        left: 0;
        top: -5px;
        width: 100%;
        //height: 150%;
        //background: linear-gradient(to bottom, #fff, transparent);
        height: 5px;
        box-shadow: 0 0 70px 90px #fff;
        transition: 0.3s opacity;
        opacity: 1;

        @include mq(xs) {
            display: block;
        }
    }

    &.hidden:before {
        opacity: 0
    }
}

.panel__inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include from(xs) {
        height: $panel-height;
    }
    @include mq(xs) {
        margin-top: 10px;
    }
}

.panel__logo img {
    width: 140px;
    display: block;
    @include to(sm) {
        width: 90px;
    }
}

.panel__nav {
    @include to(sm) {
        display: none;
    }
}

.panel__nav-menu {
    @include list-reset;
    display: flex;
}

.panel__nav-menu-item {
    @include list-item-reset;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    margin-right: 45px;
    color: $color-gray;

    @include mq(xl) {
        margin-right: 70px;
    }

    &:hover {
        color: $color-red;
    }

    &:last-child {
        margin-right: 0;
    }

    a {
        display: block;
        padding: 10px 0;
        text-decoration: none;
        color: inherit
    }

    &:before {
        $duration: 0.25s;
        content: '';
        display: block;
        width: 23px;
        height: 2px;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        bottom: 5px;
        background: $color-red;
        transition: $duration ease transform, $duration opacity;
        transform: translateY(5px);
        opacity: 0;
    }

    &.active {
        &:before {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.panel__nav-ponter {
    display: none;
    &.initialized {
        display: block;
    }
}

.panel__toggle {
    @include button-reset;
    width: 1em;
    height: 1em;
    font-size: 20px;
    display: none;
    position: relative;
    outline: none;
    
    & > * {
        display: block;
        height: 2px;
        width: 100%;
        background: #000;
        position: absolute;
        left: 0;
        transform-origin: 50% 50%;
        &:first-child {
            top: 4px;
        }
        &:last-child {
            bottom: 4px;
        }
    }

    &.open > * {
        &:first-child {
            top: 50%;
            bottom: auto;
            transform: rotate(-45deg)
        }
        &:last-child {
            top: 50%;
            bottom: auto;
            transform: rotate(45deg);
        }
    }

    @include to(sm) {
        display: inline-block;
    }
}