.section {
}

.screen {
    @include from(xs) {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: $panel-height;
        margin-bottom: 100px;
    }
}

.section__title {
    font-size: 48px;
    line-height: 1.25em;
    font-weight: bold;
    @include mq(xs) {
        font-size: 32px;
        font-weight: 900;
    }
}