.section-who {

    .content-features__item {
        @include mq(xs) {
            margin-bottom: 40px;
        }
    }

    .content-features__item-inner {
        @include from(md) {
            padding-right: 100px;
        }
    }
}

.section-who__title {
    @include from(xs) {
        margin-bottom: 100px;
        margin-left: span(3);
    }
    @include mq(xs) {
        margin-bottom: 50px;
    }
}