$award-low-screen: 699px;

.section-awards {
    @include to(md) {
        padding-top: 100px;
    }
}

.section-awards__title {
    margin-bottom: 32px;
    text-align: center;

    @include to(md) {
        text-align: center;
        margin-bottom: 40px;
    }
    @include from(sm) {
        @media screen and (max-height: $award-low-screen) {
            font-size: 38px;
            margin-bottom: 28px;
            //margin-left: span(3);
        }
    }
}

.section-awards__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include from(xs) {
        display: flex;
        flex-wrap: wrap;
        & > * {
            flex: 0 0 auto;
        }
    }
    @include mq(sm) {
        max-width: 520px;
        margin-top: -30px;
        margin-left: -30px;
        & > * {
            width: 50%;
            padding: 0 0 0 30px;
            margin-top: 30px;
        }
    }

    @include from(sm) {
        margin-top: -40px;
        margin-left: -30px;
        @media screen and (max-height: $award-low-screen) {
            margin-top: -24px;
        }
        & > * {
            width: 25%;
            padding: 0 0 0 30px;
            margin-top: 40px;

            @media screen and (max-height: $award-low-screen) {
                margin-top: 24px;
            }
        }
    }
    @include mq(xs) {
        & > * {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.section-awards__list-inner {
    @include from(sm) {
        padding-right: 20px;
    }
    @include to(sm) {
        text-align: center;
        max-width: 280px;
        margin: auto;
    }
    @include from(sm) {
        @media screen and (max-height: $award-low-screen) {
            font-size: 15px;
        }
    }
}

.section-awards__list-logo {
    display: inline-block;
    vertical-align: top;
    max-width: 100px;
    margin-bottom: 16px;
    max-height: 60px;
    filter: grayscale(1);

    @media screen and (max-height: $award-low-screen) {
        max-height: 40px;
        margin-bottom: 10px;
    }

    .section-awards__list-item:hover & {
        filter: grayscale(0)
    }
}

.section-awards__list-text {
    display: block;
    font-weight: bold;
    transition: 0.15s color;

    .section-awards__list-item .link:hover & {
        color: $color-red;
    }
}

.section-awards__list-sub {
    color: rgba(#000, 0.7);
    display: block;
    font-size: 0.85em;
    margin-top: 4px;
}