.section-wawd {
    @include lowscreen {
        justify-content: flex-end;
    }
    @include mq(xs) {
        padding-top: 70px;
    }
}

.section-wawd__title {
    margin-bottom: 88px;

    //@include lowscreen {
    //    margin-bottom: 40px;
    //}

    @media screen and (max-height: 768px) and (min-width: breakpoint(md, 1)) {
        margin-bottom: 70px;
    }

    @include mq(xs) {
        margin-bottom: 70px;
    }
}