.section-how {

    & > .container {
        position: relative;
    }

    @include mq(xs) {
        padding-top: 75px;
    }
}

.section-how__title {
    font-weight: bold;
    line-height: 1.25em;
    margin-bottom: 55px;

    @include from(xs) {
        position: absolute;
        left: 0;
        top: 120px;
        font-size: 48px;
        margin-left: span(5.5);
    }
    @include lowscreen {
        line-height: 1em;
    }
    @include mq(sm) {
        margin-left: span(3);
    }
    @include mq(xs) {
        margin-top: 100px;
        margin-bottom: 95px;
    }
}

.section-how__column {
}