.section-contacts {
    @include from(xs) {
        height: 50vh;
        //display: flex;
        //flex-direction: column;
        //justify-content: flex-end;
        margin-bottom: 50px;
        //margin-bottom: 0;
        justify-content: flex-end;
    }
    @include mq(xs) {
        padding: 80px 0;
    }
}

.section-contacts__title {
    position: relative;
    @include from(xs) {
        margin-left: span(5);
        max-width: span(4);
    }
}

.section-contacts__arrow {
    position: absolute;
    right: 100%;
    top: 20px;
    margin-right: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='71' height='27' viewBox='0 0 71 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57 1.20117C59.6785 6.00543 63.5879 10.0102 68.3264 12.804L69 13.2012L68.163 13.7011C63.5282 16.4708 59.6979 20.4034 57.0514 25.1095L57 25.2012' stroke='%23E32636' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M69 13.2011H0' stroke='%23E32636' stroke-width='4' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    font-size: 70px;
    width: 1em;
    height: 0.36em;
    @include mq(xs) {
        display: none;
    }
}