.section-clients {
    @include from(xs) {
        //padding-top: 200px;
        margin-bottom: 0;
    }
    @include mq(xs) {
        padding-top: 100px;
    }
}

.section-clients__header {
    position: relative;
}

.section-clients__title {
    @include from(xs) {
        position: absolute;
        left: 90px;
        top: 0;
        margin-top: -30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1365px) {
        width: 200px;
    }
    @include mq(xl) {
        left: 0;
        text-align: center;
        width: span(4);
    }
    @include mq(xs) {
        //max-width: 200px;
        margin-bottom: 40px;
    }
}

.section-clients__description {
    position: relative;
    @include mq(xs) {
        display: none !important;
    }
    @include from(xs) {
        margin-bottom: 50px;
        margin-left: span(5);
        width: span(3);
    }
    @include from(sm) {
        margin-bottom: 90px;
    }
    @include lowscreen {
        margin-bottom: 40px;
    }
}

.section-clients__description-title {
    font-size: 15px;
    line-height: 1.6em;
    font-weight: bold;
    margin-bottom: 20px;
    @include mq(xs) {
        margin-bottom: 35px;
    }
}

.section-clients__description-text {
    font-size: 15px;
    line-height: 1.6em;
    color: #979EA6;
    @include mq(xs) {
        margin-bottom: 65px;
    }
}

.section-clients__description-arrow {
    position: absolute;
    top: 0.5em;
    right: 100%;
    margin-right: 12px;
    width: 34px;
    @include mq(xs) {
        display: none;
    }
}