.section-content {
    @include mq(xs) {
        padding-top: 100px;
    }
}

.section-content__title {
    margin-bottom: 70px;
    margin-left: 33.333%;
    max-width: 640px;
    @include mq(xs) {
        margin-left: 0;
    }
    @include mq(sm) {
        margin-left: span(3);
    }
}