.svg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(35px)
}

.shapes {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(35px)
}