.wawd-list {
    @include list-reset;
    @include from(xs) {
        display: flex;
        flex-wrap: wrap;
    }
}

.wawd-list__item {
    @include list-item-reset;
    @include from(sm) {
        flex: 0 0 33.333%;
        margin-bottom: 20px;
    }
    @include mq(sm) {
        flex: 0 0 33.333%;
        //padding-right: span(1);
        margin-bottom: 40px;
        //&:nth-child(even) {
        //    margin-left: span(1);
        //}
    }
    @include mq(xs) {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.wawd-list__item-inner {
    @include from(xs) {
        padding-right: 50px;
    }
}

.wawd-list__item-title {
    font-size: 24px;
    line-height: 1.8em;
    font-weight: bold;
    color: $color-gray;
    margin-bottom: 8px;
    //.wawd-list__item:hover & {
    //    color: $color-red;
    //}

    @include mq(sm) {
        line-height: 1.25em;
    }

    @include lowscreen {
        line-height: 1.25em;
        font-size: 20px;
    }

    @include mq(xs) {
        margin-bottom: 15px;
    }
}

.wawd-list__item-text-wrapper {
    //overflow: hidden;
    position: relative;
}

$item-button-animation-duration: 0.35s;

.wawd-list__item-text {
    font-size: 15px;
    line-height: 1.8em;
    //transition: $item-button-animation-duration opacity $item-button-animation-duration;
    transition: $item-button-animation-duration opacity;

    @include from(xs) {
        opacity: 0;
        visibility: hidden;
    }

    @include to(sm) {
        //position: absolute;
    }

    //.click-animated > & {
    //    transition-delay: 0s
    //}

    @include lowscreen {
        line-height: 1.5em;
    }

    @include superlow {
        font-size: 14px;
    }

    .wawd-list__item:hover & {
        opacity: 1;
        visibility: visible;
    }

    //.clicked > & {
    //    opacity: 1;
    //    visibility: visible;
    //    @include to(sm) {
    //        position: static;
    //    }
    //}

    @include mq(sm) {
        line-height: 1.5em;
    }

    //@include to(md) {
    //    opacity: 1;
    //}
}

.wawd-list__item-button {
    top: 0;
    left: 0;
    position: absolute;
    @include button-reset;
    border: 1px solid;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    font-family: inherit;
    outline: none;
    display: none !important;

    @include from(xs) {
        opacity: 0;
        visibility: hidden;
    }

    transition: $item-button-animation-duration opacity, 0s visibility $item-button-animation-duration;

    @include to(sm) {
        position: static;
        display: none;
    }

    &:hover,
    &:active {
        background: $color-pink;
        border-color: $color-pink;
        color: #fff;
        font-weight: bold;
    }

    .wawd-list__item:hover & {
        opacity: 1;
        visibility: visible;
        transition: $item-button-animation-duration opacity, 0s visibility;
    }

    .clicked > & {
        opacity: 0 !important;
        visibility: hidden !important;
        transition: $item-button-animation-duration opacity, 0s visibility $item-button-animation-duration !important;
        @include to(sm) {
            position: absolute;
            top: 0
        }
    }
}