{% extends 'layout.twig' %}

{% block svgforms %}
    <svg id="shapes" class="shapes"></svg>
    <canvas class="canvas" id="canvas"></canvas>
{% endblock %}

{% block content %}
    {% include 'partials/intro.twig' %}
    {% include 'partials/content.twig' %}
    {% include 'partials/who.twig' %}
    {% include 'partials/wawd.twig' %}
    {% include 'partials/how.twig' %}
    {% include 'partials/clients.twig' %}
    {% include 'partials/awards.twig' %}
{% endblock %}