<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?= t('meta.title') ?></title>

    <meta name="description"        content="<?= t('meta.description') ?>"/>
    <meta property="og:type"        content="website" />
    <meta property="og:title"       content="<?= t('meta.shareTitle') ?>" />
    <meta property="og:description" content="<?= t('meta.description') ?>" />

    <?php $protocol = isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] ? 'https' : 'http'; ?>
    <?php $base = $protocol . '://' . $_SERVER['HTTP_HOST']; ?>

    <meta property="vk:image"        content="<?= $base ?>${require('assets/images/vk-image.jpg')}" />
    <meta property="og:image"        content="<?= $base ?>${require('assets/images/og-image.jpg')}" />
    <meta property="og:image:width"  content="1200" />
    <meta property="og:image:height" content="630" />

    <link rel="icon" type="image/png" size="32x32" href="${require('assets/images/favicon-16.png')}">
    <link rel="icon" type="image/png" size="16x16" href="${require('assets/images/favicon-32.png')}">

    <script>
        window.env = '{{ getEnv() }}'
    </script>

    <?php
        if ($env["mode"] === "production") {
            include 'counters.php';
        }
    ?>
</head>

<body class="body {{ bodyClass|default('') }}">

{% block svgforms %}{% endblock %}

<div class="lines">
    <span></span><span></span><span></span><span></span>
</div>

{% include 'partials/panel.twig' %}
{% include 'partials/mobile-menu.twig' %}

<div class="content" id="fp">
    {% block content %}{% endblock %}

    {% include 'partials/footer.twig' %}
</div>

</body>
</html>