<div class="alert-cookies">
    <div class="container alert-cookies__inner">
        <span>Terms & conditions  |  Privacy policy</span>
        <span>
            ©<span data-current-year></span> All right reserved.
        </span>
        <span class="alert-cookies__yes">
            Да, мы собираем кукис. OK
            <button type="button" class="alert-cookies__close">
                <svg class="icon"><use xlink:href="/static/sprite.svg#close"></use></svg>
            </button>
        </span>
    </div>
</div>