{% set awards = [
{
    text: 'Tagline 2021: Лучшее корпоративное медиа',
    sub: 'СберПро Медиа',
    img: 'tagline-gold.png',
    url: 'https://sber.pro/'
},
{
    text: 'Tagline 2021: Лучший текст',
    sub: 'СберПро Медиа',
    img: 'tagline-bronze.png',
    url: 'https://sber.pro/'
},
{
    text: 'Финал конкурса&nbsp;EY',
    sub: '«Деловые женщины 2021»',
    img: 'ey.png',
},
{
    text: 'Брендированный контент 2021 (шорт-лист)',
    sub: 'СберПро Медиа',
    img: 'effie.png',
    url: 'https://sber.pro/'
},
{
    text: 'Tagline 2020: Лучшая кампания&nbsp;/&nbsp;креатив «Из&nbsp;офлайна в&nbsp;онлайн»',
    sub: 'Спецпроект «Теория 4 рукопожатий». Ведомости, ВКонтакте, Mastercard',
    img: 'tagline-silver.png',
    url: 'https://4handshakes.vedomosti.ru/'
},
{
    text: 'Tagline 2020: Лучший сайт',
    sub: 'СберПро Медиа',
    img: 'tagline-bronze.png',
    url: 'https://sber.pro/'
},
{
    text: 'Лучшие мероприятия для&nbsp;клиентов private banking в&nbsp;России 2019 и&nbsp;2020',
    sub: 'Серия встреч Business Talk «Сбербанка Первого» и&nbsp;РБК',
    img: 'frank.png',
    url: 'http://businesstalk.rbc.ru/'
},
{
    text: 'Современное производство и&nbsp;развитие ТЭК&nbsp;2018',
    sub: 'Спецпроект «Пути российской нефти»',
    img: 'mediatek.png',
    url: 'https://discoverrussia.interfax.ru/'
},
{
    text: '«Защита окружающей среды и&nbsp;устойчивое развитие»&nbsp;2020 (золото)',
    sub: 'Проект «Как мы сделали голоса птиц громче». Яндекс.Музыка, BBDO, WWF',
    img: 'effie.png',
    url: 'https://birdsrecords.ru/'
}
] %}

<div data-fp-section data-anchor="awards">
    <section class="section section-awards screen" data-section="awards">
        <div class="container">
            <h2 class="section__title section-awards__title">
                Наши награды
            </h2>
            <ul class="section-awards__list">
                {% for item in awards %}
                    <li class="section-awards__list-item">
                        <div class="section-awards__list-inner">
                            {% set url = item.url is defined ? item.url : '' %}
                            {% set tag = url ? 'a' : 'span' %}
                            <{{ tag }}
                                {% if url %}
                                    href="{{ url }}" target="_blank"
                                {% endif %}
                                class="{{ url ? 'link' : '' }}"
                            >
                                <img src="/static/c/awards/{{ item.img }}" class="section-awards__list-logo">
                                <span class="section-awards__list-text">{{ item.text }}</span>
                                <span class="section-awards__list-sub">{{  item.sub }}</span>
                            </{{ tag }}>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>