<div data-fp-section data-anchor="clients">
    <section class="section section-clients screen" data-section="clients">
        <div class="container">
            <div class="section-clients__header">
                <h2 class="section__title section-clients__title">
                    <span>
                        <?= t('clients.header') ?>
                    </span>
                </h2>

                <div class="section-clients__description">
                    <img src="~assets/images/arrow-sm.svg" class="section-clients__description-arrow">
                    <div class="section-clients__description-title">
                        <?= t('clients.title')  ?>
                    </div>

                    <div class="section-clients__description-text">
                        <?= t('clients.description') ?>
                    </div>
                </div>
            </div>

            <ul class="clients-list">
                <?php foreach(t('clients.logotypes') as $logo) : ?>
                    <li class="clients-list__item">
                        <div class="clients-list__item-inner">
                            <img src="/static/c/partners/<?= $logo['name'] ?>.png">
                        </div>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </section>
</div>