<div data-anchor="content" data-fp-section>
    <section class="section section-content screen" id="section-content" data-section="content">
        <div class="container">

            <ul class="content-features">
                <?php foreach(t('contentFeatures') as $item) : ?>
                    <li class="content-features__item">
                        <div class="content-features__item-inner">
                            <img src="~assets/images/arrow-sm.svg" class="content-features__item-arrow">
                            <h3 class="content-features__item-title">
                                <?= $item['title'] ?>
                            </h3>
                            <p class="content-features__item-text">
                                <?= $item['text'] ?>
                            </p>
                        </div>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </section>
</div>