<div data-fp-section data-anchor="contacts">
    <footer class="footer screen" role="contentinfo" data-section="contacts">

        <div class="footer__pre">
            <div class="container">
                <h2 class="section__title footer__pre-title">
                    <div class="footer__pre-arrow"></div>
                    <a href="<?= t('socials.email.mailto') ?>">
                        <?= t('writeUsText') ?>
                    </a>
                </h2>
            </div>
        </div>

        <div class="container footer__inner">
            <div class="footer__main">
                <a href="/" class="footer__logo" aria-label="Ornament media">
                    <img src="~assets/images/logo.svg">
                </a>
                <div class="footer__slogan">
                    <?= t('footerSlogan') ?>
                </div>
                <div class="footer__socials">
                    {# <a href="<?= t('socials.facebook.link') ?>" title="Facebook">
                        <svg class="icon">
                            <use xlink:href="/static/sprite.svg#facebook"></use>
                        </svg>
                    </a> #}
                </div>
            </div>
            <ul class="footer__contacts">
                <?php foreach($contacts as $contact) : ?>
                    <?php
                        $href = isset($contact['mailto']) ? $contact['mailto'] : $contact['link'];
                    ?>
                    <li class="footer__contacts-item <?= $contact['icon'] ?>">
                        <a href="<?= $href ?>" class="footer__contacts-item-link">
                            <svg class="icon footer__contacts-item-icon">
                                <use xlink:href="/static/sprite.svg#<?= $contact['icon'] ?>"></use>
                            </svg>
                            <span class="footer__contacts-item-name">
                                <?= $contact['name'] ?>
                            </span>

                            <?php if($contact['id'] == 'email') : ?>
                                <a href="<?= $contact['mailto'] ?>" class="footer__contacts-item-email">
                                    <?= $contact['link'] ?>
                                </a>
                            <?php endif ?>
                        </a>
                    </li>
                <?php endforeach ?>
            </ul>

            <div class="footer__socials mobile">
                <a href="<?= t('socials.facebook.link') ?>" title="Facebook">
                    <svg class="icon">
                        <use xlink:href="/static/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </div>
        </div>
    </footer>
</div>