<div class="how-list-title-wrapper">
    <div class="container" style="position: relative">
        <h2 class="section__title section-how__title">
            <?= t('howTitle') ?>
        </h2>
    </div>
</div>

<?php
    $itms = t('how');
    array_push($itms, [
        'title' => 'Работаем с&nbsp;уважением',
        'projects' => [
            [
                'text' => 'Мы&nbsp;строим партнерские отношения с&nbsp;клиентами. Внимательно и&nbsp;ответственно работаем с&nbsp;вашими пожеланиями и&nbsp;целями.'
            ]
        ]
    ])
?>

<?php foreach($itms as $idx => $item) :
    $loopIndex = $idx + 1
?>
    <div data-anchor="projects" <?= $loopIndex < count($itms) ? 'data-fp-section' : '' ?> class="<?= $loopIndex >= count($itms) ? 'hidden-from-xs' : '' ?>">
        <div class="how-list__item screen item-<?= $loopIndex ?>" data-section="projects-<?= $loopIndex ?>">
            <div class="how-list__item-wrapper">
                <div class="how-list__item-container container">
                    <div class="how-list__item-number">0<?= $idx + 1 ?></div>
                    <div class="how-list__item-inner">
                        <h3 class="how-list__item-title">
                            <?= $item['title'] ?>
                        </h3>

                        <ul class="how-list__projects">
                            <?php foreach($item['projects'] as $project) : ?>
                                <li class="how-list__projects-item">
                                    <p class="how-list__projects-item-text">
                                        <?= $project['text'] ?>
                                    </p>
                                    {#<a href="{{ project.url }}" class="how-list__projects-item-link">#}
                                        {#<span class="how-list__projects-item-link-text">#}
                                            {#Смотреть проект#}
                                        {#</span>#}
                                        {#<img src="~assets/images/arrow.svg" class="how-list__projects-item-link-arrow">#}
                                    {#</a>#}
                                </li>
                            <?php endforeach ?>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php endforeach ?>

{#<section class="section section-how" data-section="approach">#}
    {#<div class="container">#}

        {#<div class="section-how__column">#}
            {#<h2 class="section__title section-how__title">#}
                {#<?= t('howTitle') ?>#}
            {#</h2>#}

            {#<ul class="how-list">#}
                {#<?php foreach(t('how') as $idx => $item) : ?>#}
                    {#<li class="how-list__item screen" data-section="approach-{{ loop.index }}">#}
                        {#<div class="how-list__item-wrapper">#}
                            {#<div class="how-list__item-number">0<?= $idx + 1 ?></div>#}
                            {#<div class="how-list__item-inner">#}
                                {#<h3 class="how-list__item-title">#}
                                    {#<?= $item['title'] ?>#}
                                {#</h3>#}

                                {#<ul class="how-list__projects">#}
                                    {#<?php foreach($item['projects'] as $project) : ?>#}
                                        {#<li class="how-list__projects-item">#}
                                            {#<p class="how-list__projects-item-text">#}
                                                {#<?= $project['text'] ?>#}
                                            {#</p>#}
                                            {#<a href="{{ project.url }}" class="how-list__projects-item-link">#}
                                                {#<span class="how-list__projects-item-link-text">#}
                                                    {#Смотреть проект#}
                                                {#</span>#}
                                                {#<img src="~assets/images/arrow.svg" class="how-list__projects-item-link-arrow">#}
                                            {#</a>#}
                                        {#</li>#}
                                    {#<?php endforeach ?>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}
                {#<?php endforeach ?>#}
            {#</ul>#}
        {#</div>#}
    {#</div>#}
{#</section>#}