<div data-fp-section data-anchor="intro">
    <div class="intro screen" id="intro" data-section="intro">
        <div class="intro__inner">
            <div class="container">
                <h1 class="intro__title">
                    <?= t('intro.title') ?>
                </h1>
                <p class="intro__description">
                    <?= t('intro.description') ?>
                </p>
                <a href="#" data-scroll-to="content" data-scroll-offset="false" class="intro__arrow" aria-label="Читать далее">
                    <img src="~assets/images/arrow.svg">
                </a>
            </div>
        </div>

        <div class="intro__socials">
            <div class="intro__socials-content">
                {# <a href="<?= t('intro.links.facebook.url') ?>"><?= t('intro.links.facebook.text') ?></a> #}
                <a href="<?= t('intro.links.telegram.url') ?>"><?= t('intro.links.telegram.text') ?></a>
                <a href="<?= t('intro.links.whatsapp.url') ?>"><?= t('intro.links.whatsapp.text') ?></a>
            </div>
        </div>

    </div>
</div>