<?php $navItems = ['whatsapp', 'telegram']; ?>

<div class="mobile-menu" id="mobile-menu">
    <div class="container mobile-menu__inner">
        <ul class="mobile-menu__nav" data-mmenu>
            <?php foreach(t('menuItems') as $item) : ?>
                <li class="mobile-menu__nav-item">
                    <a href="#<?= $item['id'] ?>"
                       data-goal="{ 'name': 'click_nav_<?= $item['id'] ?>' }"
                       data-mmenu-item="<?= $item['id'] ?>">
                        <?= $item['label'] ?>
                    </a>
                </li>
            <?php endforeach ?>
        </ul>
        
        <ul class="mobile-menu__socials">
            <?php foreach($navItems as $item) : ?>
                 <?php $button = t("socials.$item") ?>
                <li class="mobile-menu__socials-item">
                    <a href="<?= $button['link'] ?>"><?= $button['name'] ?></a>
                </li>
            <?php endforeach ?>
        </ul>

        <a href="<?= t('socials.email.mailto') ?>" class="mobile-menu__email">
            <img src="~assets/images/arrow-sm.svg">
            <span><?= t('socials.email.link') ?></span>
        </a>
    </div>
</div>