<div class="panel" role="banner" id="panel">
    <div class="panel__inner container">
        <a href="/" class="panel__logo">
            <img src="~assets/images/logo.svg" alt="">
        </a>

        <nav class="panel__nav" data-nav>
            <ul class="panel__nav-menu">
                <?php foreach(t('menuItems') as $item) : ?>
                    <li class="panel__nav-menu-item" data-nav-item="<?= $item['id'] ?>" data-menuanchor="<?= $item['id'] ?>">
                        <a href="#<?= $item['id'] ?>" data-goal="{ 'name': 'click_nav_<?= $item['id'] ?>' }"><?= $item['label'] ?></a>
                    </li>
                <?php endforeach ?>
            </ul>
            <div class="panel__nav-ponter" data-nav-pointer></div>
        </nav>

        <button type="button" class="panel__toggle">
            <span></span><span></span>
        </button>
    </div>
</div>