<div data-fp-section data-anchor="do">
    <div class="section section-wawd screen" data-section="projects">
        <div class="container">
            <h2 class="section__title section-wawd__title">
                <?= t('wawdTitle') ?>
            </h2>
            <ul class="wawd-list">
                <?php foreach(t('wawd') as $item) : ?>
                    <li class="wawd-list__item">
                        <div class="wawd-list__item-inner">
                            <h3 class="wawd-list__item-title">
                                <?= $item['title'] ?>
                            </h3>
                            <div class="wawd-list__item-text-wrapper">
                                <p class="wawd-list__item-text">
                                    <?= $item['text'] ?>
                                </p>
                                <button class="wawd-list__item-button js-wawd-more"
                                        data-goal="{ 'name': '<?= $item['id'] ?>' }">
                                    Узнать больше
                                </button>
                            </div>
                        </div>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
</div>