<div data-fp-section data-anchor="who">
    <section class="section section-content section-who screen" id="section-who" data-section="who">
        <div class="container">
            <h2 class="section__title section-who__title">
                Кто мы
            </h2>

            <ul class="content-features">
                <?php foreach(t('who') as $item) : ?>
                <li class="content-features__item">
                    <div class="content-features__item-inner">
                        <img src="~assets/images/arrow-sm.svg" class="content-features__item-arrow">
                        <div class="content-features__item-text">
                            <?= $item ?>
                        </div>
                    </div>
                </li>
                <?php endforeach ?>
            </ul>
        </div>
    </section>
</div>